<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>searchMap</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="details">
  <div class="container detailsWrapper">
    <div class="panel panel-default">
      <!-- List group -->
      <ul class="list-group list-wrapper"></ul>
      <nav>
        <ul class="pagination"></ul>
      </nav>
    </div>
  </div>
  <a href="/" class="back btn btn-default" role="button">返回首页</a>

  <script src="js/lib/jquery-2.1.4.js" charset="utf-8"></script>
  <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/dest/details.js" charset="utf-8"></script>
</body>
</html>
