<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>searchMap</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="details">
  <div class="container detailsWrapper">
    <div class="panel panel-default">
      <div class="panel-heading">中移动物联网</div>
      <!-- List group -->
      <ul class="list-group list-wrapper">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a href="javascript:;" class="smallImg"><img src="img/data/ca.png" alt=""></a>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">页面URL地址</div>
                <div class="panel-body">
                  sasassaazsa
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">需要过滤的关键字</div>
                <div class="panel-body">
                  Panel content
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a href="javascript:;" class="smallImg"><img src="img/data/ca1.png" alt=""></a>
            </div>
            <div class="col-md-8 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">页面URL地址</div>
                <div class="panel-body">
                  sasassaazsa
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">需要过滤的关键字</div>
                <div class="panel-body">
                  Panel content
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>

  <script src="js/lib/jquery-2.1.4.js" charset="utf-8"></script>
  <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/dest/master.js" charset="utf-8"></script>
</body>
</html>
