<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.min.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1><%= title %></h1>
      </div>
      <div class="content-wrap">
        <ul class="menu">
          <li><a href="javascript:;">首页</a></li>
          <li><a href="javascript:;">注册/登录</a></li>
          <li><a href="javascript:;">文章列表</a></li>
          <li><a href="javascript:;">写文章</a></li>
        </ul>
