<%- include header %>
  <div class="content">
    <div class="contain" id="pjax-container" >
      <h1 class="content tit"><%= content %></h1>
    </div>
  </div>
  </div>
<%- include footer %>
