<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>search</title>
  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body class="map">
  <div class="wrap">
    <form action="javascript:;">
      <div class="item">
        <label for="url">
          <input type="text" name="url" id="url" placeholder="输入url开始分析">
        </label><!--
        --><button class="btn">开始截图</button>
      </div>
      <div class="imgshow"></div>
    </form>
  </div>
<script src="/js/lib/jquery-2.1.4.js" charset="utf-8"></script>
<script src="/js/dest/main.js"></script>
</body>
</html>
