<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>searchMap</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="searchMap">
  <div class="box">
    <div class="container">
      <form action="javascript:;" class="resolveWrap">
        <h2 class="title">解析地址：</h2>
        <div class="row">
          <div class="form-group">
            <div class="col-md-10 col-sm-10">
              <input type="text" class="form-control" id="InputUrl" placeholder="http://xxx.com">
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="submit" class="btn btn-primary resolveBtn">开始解析</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="contentWrap">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img class="img-responsive center-block img-thumbnail" src="http://usr.im/242x200?bg=3498DB&text=test" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img class="img-responsive center-block img-thumbnail" src="http://usr.im/242x200?bg=3498DB&text=test" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img class="img-responsive center-block img-thumbnail" src="http://usr.im/242x200?bg=3498DB&text=test" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay">
    <div class="cssload-loader">
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    </div>
  </div>


  <script src="js/lib/jquery-2.1.4.js" charset="utf-8"></script>
  <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/dest/master.js" charset="utf-8"></script>
</body>
</html>
