<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>searchMap</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="searchMap">
  <div class="container">
    <form action="javascript:;" class="resolveWrap">
      <h2 class="title">解析地址：</h2>
      <div class="row">
        <div class="form-group">
          <div class="col-md-10 col-sm-10">
            <input type="text" class="form-control" id="InputUrl" placeholder="http://xxx.com">
          </div>
          <div class="col-md-2 col-sm-2">
            <button type="submit" class="btn btn-primary resolveBtn">开始解析</button>
          </div>
        </div>
      </div>
    </form>
    <div class="content">
      sasa
    </div>
  </div>
  <div class="overlay">
    <div class="cssload-loader">
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    </div>
  </div>


  <script src="js/lib/jquery-2.1.4.js" charset="utf-8"></script>
  <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/dest/master.js" charset="utf-8"></script>
</body>
</html>
