<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>searchMap</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/main.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="searchMap">
  <div class="box">
    <div class="container">
      <form action="javascript:;" class="resolveWrap">
        <h2 class="title">解析地址：</h2>
        <div class="row">
          <div class="form-group">
            <div class="col-md-10 col-sm-8">
              <input type="text" class="form-control" id="InputUrl" placeholder="http://open.iot.10086.cn/bbs/forum.php" value="http://open.iot.10086.cn/bbs/forum.php">
            </div>
            <div class="col-md-2 col-sm-2 resolveBtnWrap">
              <button type="button" class="btn btn-primary resolveBtn active" href="javascript:;">开始解析</button>
              <div class="load-data">
                <span class="cssload-loader-data"><span class="cssload-loader-inner-data"></span></span>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="contentWrap">
      <div class="panel panel-default table-responsive">
        <!-- Table -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>URL地址</th>
              <th>网站标题</th>
              <th>抓取条数</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody class="innerContent">
            <tr>
              <td>http://open.iot.10086.cn/bbs/forum.php</td>
              <td>中移动物联网</td>
              <td>20</td>
              <td><a href="/details" class="btn btn-default seeall">查看详情</a><a href="javascript:;" class="btn btn-default delete">删除</a></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="overlay">
    <div class="cssload-loader">
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    	<div class="cssload-side"></div>
    </div>
  </div>


  <script src="js/lib/jquery-2.1.4.js" charset="utf-8"></script>
  <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/dest/master.js" charset="utf-8"></script>
</body>
</html>
